<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email Validation</title>
</head>
<body>
  <h1>Email Validation</h1>

  {% for error in request.session.errors %}
    <p> {{error}} </p>
  {% endfor %}

  <form action='/email' method='POST'>
    {% csrf_token %}
    <h2>Email Address:<input type="text" name='email'></h2>
    <p><input type="submit"></p>
  </form>
</body>
</html>
